<form class="form-horizontal">
    <fieldset>
        <legend>New advertisement</legend>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Text</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="text" ng-change="textChange()"></textarea>
                <span class="help-block">The text of your advertisement.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" ng-class="submitButtonClass" ng-click="post()">Add!</button>
            </div>
        </div>
    </fieldset>
</form>

